@inject ContentEngineOptions Options

<header class="@HeaderStructureClass @HeaderColorClass">
    <nav class="@NavStructureClass @NavColorClass">
        @if (HeaderIcon != null)
        {
            @HeaderIcon
        }

        <h1 class="@TitleStructureClass @TitleColorClass">
            <a href="./">
                @Options.SiteTitle
            </a>
        </h1>
        <div class="@ActionAreaStructureClass @ActionAreaColorClass">
            <ThemeToggle />
            @if (ExtraButtons != null)
            {
                @ExtraButtons
            }
        </div>
    </nav>
</header>

@code {
    [Parameter] public string HeaderStructureClass { get; set; } = "sticky top-0 w-full h-18 md:h-24 backdrop-blur backdrop-grayscale border-b shadow-md dark:shadow-lg z-50";
    [Parameter] public string HeaderColorClass { get; set; } = "bg-primary-100/90 dark:bg-primary-900/50 border-primary-900/20 dark:border-primary-50/10";
    [Parameter] public string NavStructureClass { get; set; } = "max-w-8xl mx-auto h-full flex items-center p-4";
    [Parameter] public string NavColorClass { get; set; } = "";
    [Parameter] public string TitleStructureClass { get; set; } = "transition-all font-extrabold text-2xl md:text-4xl";
    [Parameter] public string TitleColorClass { get; set; } = "text-primary-700 dark:text-primary-100";
    [Parameter] public string ActionAreaStructureClass { get; set; } = "ml-auto space-x-6 flex items-center";
    [Parameter] public string ActionAreaColorClass { get; set; } = "";
    [Parameter] public RenderFragment? HeaderIcon { get; set; }
    [Parameter] public RenderFragment? ExtraButtons { get; set; }
}