@using MyLittleContentEngine.Models

@if (Outline is { Length: > 1 })
{
    <div data-role="page-outline" class="@ContainerStructureClass @ContainerColorClass">
        <ul class="@ListStructureClass @ListColorClass">
            @foreach (var entry in Outline)
            {
                @OutlineLink(entry, "pl-4")
                @if (entry.Children.Length > 0)
                {
                    <ul class="pb-1px">
                        @foreach (var childEntry in entry.Children)
                        {
                            @OutlineLink(childEntry, "pl-8")
                        }
                    </ul>
                }
            }
        </ul>
    </div>
}

@code {
    [Parameter] public OutlineEntry[]? Outline { get; set; }
    [Parameter] public string Title { get; set; } = "On This Page";
    [Parameter] public string ContainerStructureClass { get; set; } = "";
    [Parameter] public string ContainerColorClass { get; set; } = "";
    [Parameter] public string ListStructureClass { get; set; } = "list-none text-xs mt-6";
    [Parameter] public string ListColorClass { get; set; } = "text-neutral-900 dark:text-neutral-400";
    [Parameter] public string OutlineLinkColorClass { get; set; } = "hover:text-primary-900 dark:hover:text-neutral-50/90 aria-selected:text-primary-800 dark:aria-selected:text-primary-400";
    [Parameter] public string OutlineLinkStructureClass { get; set; } = "text-sm  pt-2 ";
    

    private RenderFragment OutlineLink(OutlineEntry entry, string padding) =>
        @<li class="flex">
            <a
                class="@padding @OutlineLinkStructureClass @OutlineLinkColorClass"
                href="#@entry.Id">@entry.Title</a>
        </li>;
}