@using MyLittleContentEngine.Models

@if (Outline is { Length: > 1 })
{
    <div data-role="page-outline" class="relative @ContainerStructureClass @ContainerColorClass">
        <div data-role="page-outline-highlighter" class="absolute transition-all duration-500 opacity-0 left-[-1px] w-[1px] bg-primary-400"></div>
        <div>
            <ul class="@ListStructureClass @ListColorClass">
                @foreach (var entry in Outline)
                {
                    @OutlineLink(entry, "")
                    @if (entry.Children.Length > 0)
                    {
                        <li>
                            <ul class="pb-1px">
                                @foreach (var childEntry in entry.Children)
                                {
                                    @OutlineLink(childEntry, "pl-4")
                                }
                            </ul>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
}

@code {
    [Parameter] public OutlineEntry[]? Outline { get; set; }
    [Parameter] public string Title { get; set; } = "On This Page";
    [Parameter] public string ContainerStructureClass { get; set; } = "border-l border-base-200 dark:border-base-800";
    [Parameter] public string ContainerColorClass { get; set; } = "";
    [Parameter] public string ListStructureClass { get; set; } = "list-none pl-4" ;
    [Parameter] public string ListColorClass { get; set; } = "text-neutral-500 dark:text-neutral-400";
    [Parameter] public string OutlineLinkColorClass { get; set; } = "transition-colors duration-250 hover:text-base-900 dark:hover:text-base-50/90 data-[selected=true]:text-base-800 dark:data-[selected=true]:text-base-50";
    [Parameter] public string OutlineLinkStructureClass { get; set; } = "py-1 ml-[calc(-1*(4em-1px))] pl-[calc(4em+1px)] ";
    

    private RenderFragment OutlineLink(OutlineEntry entry, string padding) =>
        @<li class="flex">
            <a
                class="@padding @OutlineLinkStructureClass @OutlineLinkColorClass"
                href="#@entry.Id">@entry.Title</a>
        </li>;
}